<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>138BA02C-8DC7-47A2-B477-B2A452B17A40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D658295-1978-4F05-AF12-7DBE686C3FB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6C0D86A2-D66C-467F-B335-6521A4719143</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>138BA02C-8DC7-47A2-B477-B2A452B17A40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>System command from keyword and notify</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Get Stuff Done</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4D658295-1978-4F05-AF12-7DBE686C3FB1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>osascript -e  "do shell script \"sudo -E ./gsd.sh {query}\" with administrator privileges"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>138BA02C-8DC7-47A2-B477-B2A452B17A40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>gsd</string>
				<key>text</key>
				<string>Get Stuff Done</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6C0D86A2-D66C-467F-B335-6521A4719143</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>138BA02C-8DC7-47A2-B477-B2A452B17A40</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4D658295-1978-4F05-AF12-7DBE686C3FB1</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6C0D86A2-D66C-467F-B335-6521A4719143</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
